    * {
        box-sizing: border-box;

        margin: 0;
        padding: 0;

    }

    body {
        margin: 0;


        font-family: 'Inter', sans-serif;


        background-color: #D4C9C9;
    }

    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    #logo,
    #edition {
        font-size: 30px;
        color: #272727;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        padding: 50px;
        padding-bottom: 30PX;
        padding-top: 30PX;

    }

    #logo {
        font-size: 30px;
        padding: 5cqb;
        /* keep layout spacing here */
    }

    .logo-text {
        display: inline-block;
        /* shrink to text */
        cursor: pointer;
        font-family: "Inter", sans-serif;
        font-weight: 500;
        color: #272727;
        will-change: transform, opacity;
        transition: transform 0.3s ease, opacity 0.3s ease, color 0.3s ease;
    }



    #hero {
        margin-top: 150px;
        line-height: 1;
        padding-left: 20px;
    }

    #hero>div {
        margin: 0;
        padding: 0;
        line-height: 1;
    }

    #locomotive,
    #scroll,
    #v {
        font-size: 180px;
        color: #272727;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        padding: 0;
        margin: 0;
        line-height: 1;
        display: block;
        will-change: transform;

    }

    #v {
        color: white;
    }

    @keyframes floatUp {
        from {
            opacity: 1;

            color: #272727;
        }

        to {
            opacity: 0.85;

            color: white;
        }
    }

    .logo-text:hover {
        animation: floatUp 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }

    #line {
        background-color: #272727;
        width: 5px;
        height: 5px;
    }

    .line {
        width: 95vw;
        height: 1px;
        background-color: #272727;
        margin: 20px 0;
        opacity: 0.8;
        margin-left: 2.5vw;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 1s ease;
    }

    .library {
        display: flex;
        justify-content: space-between;

    }

    .content,
    .points {
        width: 50%;
        padding: 30px;
        font-family: "Inter", sans-serif;
    }

    .content {
        width: 30%;
        font-size: 1.2rem;
        font-weight: 500;
    }

    .points {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.6;
        cursor: pointer;
    }

    ol li {
        position: relative;
        padding-bottom: 6px;
    }

    ol li::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: black;

        transform: scaleX(0);
        transform-origin: left;
        transition: transform 2s ease;
        transition-delay: 0.5s;
    }


    ol li.draw-line::after {
        transform: scaleX(1);
    }


    #one:hover {
        animation: floatUp 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;

    }

    #two:hover {
        animation: floatUp 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }

    #three:hover {
        animation: floatUp 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }

    #four:hover {
        animation: floatUp 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }

    #v {
        display: flex;
        width: fit-content;
    }



    #one,
    #two,
    #three,
    #four {
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 3s ease, transform 3s ease;
    }

    #one.appear {
        opacity: 1;
        transform: translateY(0);
    }




    #two.appear {
        opacity: 1;
        transform: translateY(0);
    }

    #three.appear {
        opacity: 1;
        transform: translateY(0);
    }


    #four.appear {
        opacity: 1;
        transform: translateY(0);
    }

    #speed-control {
        display: flex;
        justify-content: flex-start;
        /* content on left, image on right */
        align-items: center;
        /* vertically center content */
        min-height: 100vh;
    }

    #speed-content {
        width: 40%;
        font-size: 24px;
        font-weight: bold;
        padding: 20px;
    }

    #speed-image {
        position: sticky;
        /* sticks in viewport */
        top: 0;
        width: 60%;
        height: 100vh;
        overflow: hidden;
        flex-shrink: 0;
    }

    #speed-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        will-change: transform;
    }

    .speed2x {
        position: absolute;
        bottom: 20px;
        /* at bottom of image */
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 48px;
        font-weight: bold;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
        pointer-events: none;
    }

    #speed-control-1 {
        display: flex;
        justify-content: space-between;
        /* content on left, image on right */
        align-items: center;
        /* vertically center content */
        min-height: 100vh;
        /* position: absolute; */
    }

    #speed-image-1 {
        position: sticky;
        /* sticks in viewport */
        top: 0;
        width: 40%;
        height: 100vh;
        overflow: hidden;
        flex-shrink: 0;
        padding: 20px;
    }

    #speed-image-2 {
        position: relative;
        top: 0;
        width: 25%;
        height: 50vh;
        overflow: hidden;
        flex-shrink: 0;
        padding: 20px;
    }

    #speed-image-1 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        will-change: transform;
    }

    #speed-image-2 img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        will-change: transform;
        opacity: 80%;
    }


    .speed4x {
        position: absolute;
        bottom: 20px;
        /* at bottom of image */
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 48px;
        font-weight: bold;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
        pointer-events: none;
    }


    .speed6x {
        position: absolute;
        bottom: 20px;
        /* at bottom of image */
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 24px;
        font-weight: bold;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
        pointer-events: none;
    }

    .orbital {
        opacity: 0;
        transform-style: preserve-3d;
        transform-origin: bottom center;

        transform:
            perspective(900px) rotateX(-90deg) translateY(40px);

        transition:
            transform 2.5s cubic-bezier(0.22, 1, 0.36, 1),
            opacity 0.8s ease-out;

        will-change: transform, opacity;
    }

    .orbital-show {
        opacity: 1;
        transform:
            perspective(400px) rotateX(0deg) translateY(0);
        font-size: 100px;

        font-size: 200px;
        color: #272727;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        padding: 0;
        margin: 0;
        line-height: 1;
        padding-left: 30px;
    }

    .orbital:nth-child(1) {
        transition-delay: 0.1s;
    }

    .orbital:nth-child(2) {
        transition-delay: 0.3s;
    }

    .orbital:nth-child(3) {
        transition-delay: 0.4s;
        color: white;
    }

    .line.draw {
        transform: scaleX(1);
    }


    .fixed-slide {
        position: relative;
        height: 200vh;
        margin-bottom: 0;
       
    }

    .fixed-media {
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        height: 100vh;
        overflow: hidden;
        pointer-events: none;

        clip-path: inset(100% 0 0 0);
    }

    .fixed-media img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;

        transition: filter 0.3s linear;
    }

    .fixed-content {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        padding: 0 40px;

        pointer-events: none;
        transition: opacity 0.8s ease;
    }

    .fixed-content h2,
    .fixed-content p {
        margin: 10px 0;
        color: #272727;
    }

   

    

.scroll-dir {
    position: relative;
    height: 100vh;
    overflow: visible;
    z-index: 10;
}

.text-1,
.text-2,
.text-3 ,.text-4 ,.text-5{
    position: absolute;
    font-size: 100px;
    font-family: "Inter", sans-serif    ;
    padding: 20px;
    background: white;
    color: black;
    top: 0;
    left: 0;
}

.text-2 { z-index: 1; }
.text-1 { z-index: 2;
            }

.text-3 {
    z-index: 3;
    margin-bottom: 40px;   /* now visible */
  
}
.text-4{
    z-index: 4;
    top: -25vh;
}

.text-5-wrapper {
  transform: rotate(-45deg);
  transform-origin: top left;
  top: 50vh;
}

.text-5 {
  will-change: transform;
  top: 50vh;

}





/* ============ RESPONSIVE LAYER ============ */

/* Tablets */
@media (max-width: 1024px) {

  #locomotive,
  #scroll,
  #v {
    font-size: 120px;
  }

  .orbital-show {
    font-size: 140px;
  }

  .content {
    width: 45%;
    font-size: 1rem;
  }

  .points {
    font-size: 1.2rem;
  }

  #speed-control,
  #speed-control-1 {
    flex-direction: column;
  }

  #speed-content {
    width: 100%;
    font-size: 20px;
  }

  #speed-image,
  #speed-image-1 {
    width: 100%;
    height: 60vh;
  }

  .fixed-media,
  .fixed-content {
    width: 100%;
  }

  .text-1, .text-2, .text-3, .text-4, .text-5 {
    font-size: 70px;
  }
}


/* Phones */
@media (max-width: 768px) {

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  #logo,
  #edition {
    font-size: 20px;
    padding: 20px;
  }

  #hero {
    margin-top: 80px;
    padding-left: 10px;
  }

  #locomotive,
  #scroll,
  #v {
    font-size: 70px;
  }

  .orbital-show {
    font-size: 90px;
    padding-left: 10px;
  }

  .library {
    flex-direction: column;
  }

  .content,
  .points {
    width: 100%;
    padding: 20px;
  }

  .points {
    font-size: 1.1rem;
  }

  #speed-image,
  #speed-image-1,
  #speed-image-2 {
    width: 100%;
    height: 50vh;
  }

  .fixed-slide {
    height: auto;
  }

  .fixed-media {
    position: relative;
    width: 100%;
    height: 50vh;
  }

  .fixed-content {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
    pointer-events: auto;
  }

  .text-1, .text-2, .text-3, .text-4, .text-5 {
    font-size: 48px;
  }

  .speed2x,
  .speed4x,
  .speed6x {
    font-size: 24px;
  }
}


/* Small phones */
@media (max-width: 480px) {

  #locomotive,
  #scroll,
  #v {
    font-size: 50px;
  }

  .orbital-show {
    font-size: 60px;
  }

  .text-1, .text-2, .text-3, .text-4, .text-5 {
    font-size: 36px;
  }

  #speed-content {
    font-size: 16px;
  }
}
